name: Docker Image CI

# 监听master分支
# on:
#   push:
#     branches:
#       - master

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        env:
          aliyun_username: ${{ secrets.ALIYUN_USERNAME }}
          aliyun_password: ${{ secrets.ALIYUN_PASSWORD }}
        run: |
          echo version: ${GITHUB_REF:10}
          cat .env.example >> .env
          sudo docker login --username=${aliyun_username} registry.cn-chengdu.aliyuncs.com --password=${aliyun_password}
          sudo docker build -t api:${GITHUB_REF:10} .
          sudo docker tag api:latest registry.cn-chengdu.aliyuncs.com/bookkeeping-01/api:${GITHUB_REF:10}
          sudo docker push registry.cn-chengdu.aliyuncs.com/bookkeeping-01/api:${GITHUB_REF:10}
